@import 'normalize';

$default-dark: #2f3238;
$default-light: #b5b5b5;
$default-valid: #90da64;
$default-invalid: #da6484;

@mixin text-treatments {
  color: $default-light;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 200;
}

html,
body,
.ember-view,
.flex-container {
  height: 100%;
}

.flex-container {
  align-items: center;
  background-color: $default-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .flex-item {
    margin: 40px;
  }

  .app-number-input {
    @include text-treatments;
    background-color: $default-dark;
    border: 1px solid;
    border-color: $default-light;
    padding: 10px;

    &:focus {
      border-color: $default-valid;
    }

    &:invalid {
      border-color: $default-invalid;
    }
  }

  .app-word-output {
    @include text-treatments;
    color: lighten($default-light, 20%);
    text-transform: capitalize;
  }
}
