<main class="flex-container">
  <div class="flex-item">
    {{~input value=defaultNumber type="number" placeholder=defaultNumber class="app-number-input"~}}
  </div>

  <div class="flex-item">
    {{~number-to-words number=defaultNumber class="app-word-output"~}}
  </div>

  {{outlet}}
</main>