<div>
  {{input value=defaultNumber type="number" placeholder=defaultNumber min=defaultNumber data-test-selector="app-number-input"}}
</div>

{{number-to-english number=defaultNumber class="app-word-output"}}

{{outlet}}
